#quill-toolbar
	span.ql-formats
		select.ql-size
			option(value='8px') 8
			option(value='9px') 9
			option(value='10px') 10
			option(value='11px') 11
			option(value='12px') 12
			option(value='14px') 14
			option(value='16px') 16
			option(value='18px') 18
			option(value='20px') 20
			option(value='22px') 22
			option(value='24px') 24
			option(value='26px') 26
			option(value='28px') 28
			option(value='36px') 36
			option(value='48px') 48
			option(value='72px') 72

		select.ql-color
			option(selected)
			option(value='#DA1E5C')
			option(value='#744231')
			option(value='#2A7639')
			option(value='#0D858B')
			option(value='#3A4C9E')
			option(value='#583D95')
			option(value='#000000')
			option(value='#9D9D9D')
			option(value='#E8432E')
			option(value='#F4BC19')
			option(value='#84BB43')
			option(value='#19B0C7')
			option(value='#2F86C8')
			option(value='#84348F')
			option(value='#323333')
			option(value='#D3D3D3')
			option(value='#F29319')
			option(value='#F4E32E')
			option(value='#C3D32D')
			option(value='#80CCD9')
			option(value='#50C0F0')
			option(value='#BF86B9')
			option(value='#666666')
			option(value='#E8E8E8')
			option(value='#F7E9D4')
			option(value='#FBFADD')
			option(value='#E5EDE0')
			option(value='#CCE6E4')
			option(value='#ADDAE7')
			option(value='#E5E4F2')
			option(value='#999999')
			option(value='#FFFFFF')

		select.ql-background
			option(selected)
			option(value='#DA1E5C')
			option(value='#744231')
			option(value='#2A7639')
			option(value='#0D858B')
			option(value='#3A4C9E')
			option(value='#583D95')
			option(value='#000000')
			option(value='#9D9D9D')
			option(value='#E8432E')
			option(value='#F4BC19')
			option(value='#84BB43')
			option(value='#19B0C7')
			option(value='#2F86C8')
			option(value='#84348F')
			option(value='#323333')
			option(value='#D3D3D3')
			option(value='#F29319')
			option(value='#F4E32E')
			option(value='#C3D32D')
			option(value='#80CCD9')
			option(value='#50C0F0')
			option(value='#BF86B9')
			option(value='#666666')
			option(value='#E8E8E8')
			option(value='#F7E9D4')
			option(value='#FBFADD')
			option(value='#E5EDE0')
			option(value='#CCE6E4')
			option(value='#ADDAE7')
			option(value='#E5E4F2')
			option(value='#999999')
			option(value='#FFFFFF')

	span.ql-formats
		button.ql-bold
		button.ql-underline
		button.ql-strike
		button.ql-list(value='ordered')
		button.ql-list(value='bullet')
		select.ql-align
			option(selected)
			option(value='center')
			option(value='right')
			option(value='justify')
		button.ql-link
		button.ql-image
		button.ql-clean
