.ql-editor {
	& ul {
		padding: 0;
	}

	& .info-block {
		display: inline-block;
		font-size: 14px;
		border: #DEDEDE 1px solid;
		border-radius: 4px;
		padding: 6px;
		width: auto;
		min-width: 70px;
		margin: 0 5px;
		text-align: center;
		margin-top: 20px;

		& img {
			width: 42px;
			height: 42px;
			border: 0;
			outline: none;
		}

		& span {
			display: block;
		}
	}
}
