doctype html
html(lang='zh-Hant')

	head

		title Quill Demo

	body

		.center-container
			.before
				label 2.0 問卷 Html
				pre

			.editor
				.demo-option
					label 選擇測試範本
					select.sample-selector
						option() 請選擇
						option(value='0') With Answer-Tag
						option(value='1') Welcome Text
						option(value='2') Statement Title
						option(value='3') Quote Content
						option(value='4') Customize Content
						option(value='5') New Customize Content

				.quill-editor-wrapper

					include ./common/quill-toolbar.pug

					#editor-sample

					.ql-word-count

			.after
				label 3.0 問卷 Html
				pre
