@import '../common.css';

* {
	box-sizing: border-box;
}

body {
	font-size: 13px;
}

.center-container {
	display: flex;
	margin: 60px auto 0;

	& > div {
		width: 30%;
		margin: 0 1%;
	}

	& label {
		display: block;
		margin-bottom: 6px;
	}

	& select {
		display: block;
		line-height: 1.4;
		font-size: 20px;
	}
}

.before,
.after {
	& pre {
		width: 100%;
		height: 400px;
		border: #DDD 1px solid;
		overflow: auto;
		background: #EEE;
	}
}

.demo-option {
	margin-bottom: 20px;
}
